@page "{tournamentId}"
@using BusinessLayer.models
@using BusinessLayer
@model DuelSysWeb.Pages.Tournaments.TournamentDetailsModel
@{
}
<div class="wrapper">
    <div class="tournament-details">
        <div class="tournament-main-info">
            <h2><span class="green">@Model.tourney.Name</span></h2>
            <h3><span class="green">System:</span> @Model.tourney.System.SystemName</h3>
            <h3><span class="green">Location:</span> @Model.tourney.Location</h3>
        </div>
        <div class="tournament-side-info">
            <div class="tournament-card-desc">
                <p>@Model.tourney.Description</p>
            </div>
            <div class="tournament-card-desc">
                <p>@Model.tourney.StartDate.Date.ToShortDateString() → @Model.tourney.EndDate.Date.ToShortDateString()</p>
            </div>
            <div class="tournament-card-desc">
                <div class="desc-align-left">
                    <p>Players Min: @Model.tourney.MinPlayers</p>
                </div>
                <div class="desc-align-right">
                    <p>Players Max: @Model.tourney.MaxPlayers</p>
                </div>
            </div>
            @if (HttpContext.Session.GetLoggedUser() == null)
            {
                <h2><span class="red">You need to log in to register for tournaments</span></h2>
            }
            else if (HttpContext.Session.GetLoggedUser() != null && HttpContext.Session.GetLoggedUser() is Player)
            {
                if (Utils.GetSystemDate >= @Model.tourney.StartDate.AddDays(-7))
                {
                    <h2><span class="red">You can no longer (de)register for this tournament</span></h2>
                }
                else
                {
                    <div class="tournament-card-desc">
                        <div class="desc-align-left">
                            <form method="post">
                                <button type="submit" asp-page-handler="OnRegister" class="button-black">Register</button>
                            </form>
                            
                        </div>
                        <div class="desc-align-right">
                            <form method="post"> 
                                 <button type="submit" asp-page-handler="OnDeregister" class="button-white">Deregister</button>
                            </form>

                        </div>
                    </div>
                }
            }
            else if(HttpContext.Session.GetLoggedUser() is Staff)
            {
                <h2><span class="red">You are a staff member. Only players can register for tournaments</span></h2>
            }
            
        </div>
        <div class="tournament-standings">
            @if (Model.standings.Count > 0)
            {
                <h3>Standings:</h3>
                @foreach (TourneyStanding ts in Model.standings)
                {
                    <div class="tournament-standing">
                        @if(ts.Place != null){
                            <h3>Place : @ts.Place</h3>
                        }   
                        <p>@ts.PlayerFirstname @ts.PlayerLastname: <span class="green">Wins: </span>@ts.Wins  <span class="red">Losses: </span>@ts.Losses</p>
                    </div>
                }
            }
            else
            {
                <h3>There are no people registered for this tournament</h3>
            }
                    
        </div>
        <div class="tournament-games">
            <h3>Games:</h3>
            @if (Model.matches.Count > 0)
            {
                @foreach (TourneyMatch m in Model.matches)
                {
                <div class="game">
                    <div class="game-players">
                        <h3>@m.Player1Firstname @m.Player1Lastname</h3>
                        <p>VS</p>
                        <h3>@m.Player2Firstname @m.Player2Lastname</h3>
                    </div>
                    <div class="game-date">
                        <p><span class="blue">@m.DateHeld.ToString()</span></p>
                    </div>
                    <div class="game-results">
                        <p>@m.Player1Points - @m.Player2Points</p>
                    </div>
                </div>
                }
            }
            else
            {
                <h3>There are no matches scheduled for this tournament</h3>
            }
        </div>
    </div>
</div>