@page
@using BusinessLayer.models;
@model DuelSysWeb.Pages.ProfileModel
@{
}
<div class="wrapper">
                <div class="content-header">
                    <h2>My profile</h2>
                </div>
                <div class="profile">
                    <div class="pfp">
                        <div class="media">
                            <img src="~/images/pfp.png" alt="">
                        </div>
                    </div>
                    <div class="row"><h3>@Model.user.Firstname @Model.user.Lastname</h3></div>
                    @if (Model.user is Staff)
                    {
                        <div class="row"><h3>* You are a staff member *</h3></div>
                    }                
                    <div class="row33">
                        <h3>Info:</h3>
                        <p>Email: @Model.user.Email</p>
                        <p>Address: @Model.user.Address</p>
                        @if (Model.user is Staff)
                        {
                            <p>Salary: @(((Staff)Model.user).Salary.ToString())</p>
                        }
                        else{
                            <p><span class="green">Won games</span>: @(((Player)Model.user).Wongames.ToString())</p>
                            <p><span class="red">Lost games</span>: @(((Player)Model.user).Lostgames.ToString())</p>
                        }
                        
                    </div>
                    <div class="row33">
                        <h3>Tournament participation</h3>
                        @foreach (TourneyStanding ts in Model.standings)
                        {
                         <div class="game">
                            <div class="game-players">
                                <a asp-page="/Tournaments/TournamentDetails" asp-route-tournamentId="@ts.TournamentId">@ts.TournamentName</a>
                                <p>Place: @ts.Place.ToString()</p>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="row33">
                        <h3>Games played</h3>
                        @foreach (TourneyMatch m in Model.matches)
                        {
                         <div class="game">
                            <div class="game-players">
                                <h3>@m.Player1.Firstname @m.Player1.Lastname</h3>
                                <p>VS</p>
                                <h3>@m.Player2.Firstname @m.Player2.Lastname</h3>
                            </div>
                            <div class="game-date">
                                <p><span class="blue">@m.DateHeld.ToString()</span></p>
                            </div>
                            <div class="game-results">
                                <p>@m.Player1Points - @m.Player2Points</p>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>